<%= form.fields_for :followers do |follower_form| %>
  <div class="field">
    <%= follower_form.select :user_id, [['Please select', '']] | User.all.collect { |user| [user.name, user.id] } %>
  </div>
  <% unless follower_form.object.nil? || follower_form.object.new_record? %>
    <div class="field">
      <%= follower_form.label :_destroy, 'Remove:' %>
      <%= follower_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>
