<div class="edit-wrapper">
  <div class="block-header">
    <div><h4>Editing project_phase</h4></div>
    <div class="split-line"></div>
  </div>
  <%= render 'form' %>
  <%= link_to 'Show', @project_phase %> |
  <%= link_to 'Back', project_phases_path %>
</div>
