<div class="new-wrapper">
  <div class="block-header">
    <div><h4>New project_phase</h4></div>
    <div class="split-line"></div>
  </div>
  <%= render 'form' %>
  <%= link_to 'Back', project_phases_path %>
</div>
