/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/**
 * reset
 */
html, body {
    font-family: "Helvetica Neue",Helvetica,Tahoma,Verdana,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0px;
    color: #222222; /* TODO 修改颜色 */
}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, hr {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}
a {
    color: #EA7601; /* TODO 修改颜色 */
    text-decoration: underline;
}
a:hover {
    color: #EA7601; /* TODO 修改颜色 */
    text-decoration: underline;
}
a img {
    border: 0 none;
}
:focus {
    outline: 0 none;
}
input[type=text],input[type=number],textarea,checkbox,select,checkbox {
    font-size: 18px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-size: 16px;
    padding: 6px;
}
/**
 * base stylesheet
 */
.lf {
    float: left;
    display: inline;
}
.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/**
 * wrapper
 */
.wrapper {

}

/**
 * header
 */
.header .menu li {
    padding: 0 8px;
    height: 34px;
    line-height: 34px;
}
.nav a, .nav a:visited {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    color: #f95901;
    text-decoration: none;
}
.header {
/*    height: auto; */
}
.nav {
    background: #01132B;
}
.wrapper .container {
    padding: 27px 20px;
    background:url('/assets/bg.png') repeat-x scroll 0 0 #FFFFFF
}

/**
 * block
 */
.block-header .split-line {
    background: none repeat scroll 0 0 #F95901;
    height: 2px;
    margin: 0 0 5px;
}
.block-header h4 {
    font-size: 18px;
    color: #F95901;
}
/**
 * grid
 */
.grid {
    border-bottom: 0 none;
    padding-bottom: 0.5em;
}
.grid table {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CBD3D4 #CBD3D4 -moz-use-text-color;
    border-style: none solid none;
    border-width: 0px 1px medium;
    border-collapse:collapse;
    width: 100%;
}
.grid tr.headings th {
    border-color: #7E9DB1;
    background: none repeat scroll 0 0 #C6E2ED;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: 0.9em;
    padding-bottom: 0;
    padding-top: 1px;
}
.grid table.border {
    border: 1px solid #CBD3D4;
}
.grid tbody {
    background: none repeat scroll 0 0 #FFFFFF;
}
.grid th {
    white-space: nowrap;
}
.grid tr.on-mouse {
    background: none repeat scroll 0 0 #FCF5DD;
    cursor: pointer;
}
.grid tr.headings th a {
    color: #7E9DB1;
    display: block;
    padding: 2px 4px 1px 0;
    text-decoration: none;
}
.grid tr.headings th a:hover {
    color: #F95901;
    text-decoration: none;
}
.grid tr.even, .grid tr.even tr {
    background: none repeat scroll 0 0 #F6F6F6;
}
.grid tr.on-mouse {
    background: none repeat scroll 0 0 #FCF5DD;
    cursor: pointer;
}
.grid tr.invalid {
    background-color: #F5D6C7;
}
.grid th, .grid td {
    padding: 2px 4px;
}
.grid th {
    white-space: nowrap;
}
.grid td.editable input.input-text {
    margin-left: 4px !important;
    width: 50px !important;
}
.grid td input.input-text {
    width: 86%;
}
.grid table td {
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 0 1px 0;
}
.grid table.border td {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.grid table td.last {
    border-right: 0 none;
}
.grid table td.product {
    text-align: right;
}
.grid table td.empty-text {
    padding: 15px;
}
.grid table td .action-select {
    width: 100%;
}
.grid .separator {
    color: #B9B9B9;
    padding: 0 4px;
}
.grid tbody.odd tr {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.grid tbody.even tr {
    background: none repeat scroll 0 0 #F6F6F6 !important;
}
.grid tbody.odd tr td, .grid tbody.even tr td {
    border-bottom: 0 none;
}
.grid tbody.odd tr.border td, .grid tbody.even tr.border td {
    border-bottom: 1px solid #DADFE0;
}
table.actions {
    margin: 0.5em 0;
    width: 100%;
}
table.actions td {
    vertical-align: top;
}
.pointer {
    cursor: pointer;
}
.grid .options {
    margin: 10px 8px;
}


/**
 * view
 */
.form-list {
    border: 0 none !important;
    width: auto;
}
.form-list td.label, .form-list td.value, .form-list td.value2, .form-list td.note, .form-list td.scope-label, .form-list td.use-default {
    background: none repeat scroll 0 center transparent !important;
    border: 0 none !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}
.form-list td.hidden {
    background: none repeat scroll 0 center transparent !important;
    border: 0 none !important;
    padding: 0 !important;
}

.form-list td.label {
    width: 200px;
}
.form-list td.label label {
    display: block;
    padding-right: 15px;
    width: 185px;
}
.form-list td.value input.input-text, .form-list td.value textarea {
    width: 274px;
}
.form-list td.value {
    font-weight: bold;
}
.box, .entry-edit fieldset, .entry-edit .fieldset {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #D6D6D6;
}
.box, .entry-edit fieldset, .entry-edit .fieldset {
    margin-bottom: 15px;
    padding: 10px 15px;
}
.entry-edit .entry-edit-head {
    background: none repeat scroll 0 0 #C6E2ED;
    padding: 2px 10px;
    border-color: #7E9DB1;
    border-style: solid;
    border-width: 0 0 2px 0;
}
.entry-edit .entry-edit-head h4 {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 1em;
    line-height: 18px;
    margin: 0;
    min-height: 0;
    padding: 0;
}
.box-left, .box-right {
    width: 48.5%;
}
.box-left {
    float: left;
}
.box-right {
    float: right;
}

/**
 * form
 */
.form #error_explanation {
    border-color: #7E9DB1;
    background: none repeat scroll 0 0 #C6E2ED;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: 0.9em;
    padding: 8px 15px;
}
.form #error_explanation ul {
    margin: 5px 14px;
    color: #F95901;
}
.form .fieldset {
    margin-top: 20px;
}
.form .fieldset .field {
    margin: 10px 0;
}
.form .fieldset .field .label {
    font-size: 12px;
}
.form .fieldset .field_with_errors input,
.form .fieldset .field_with_errors select,
.form .fieldset .field_with_errors textarea,
.form .fieldset .field_with_errors checkbox {
    border-color: #F95901;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}
.form .fieldset .field textarea {
    height: 160px;
}